:root {
    --primary-color: #A11809;
    --white-color: #FFF;
    --black-color: #000000;
    --black-light: #222222;
}

/* 
font-family: 'Bungee Outline', cursive;
font-family: 'Open Sans', sans-serif; 
font-family: 'Montserrat', sans-serif; 
*/

body,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1,
h2,
a {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--white-color);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
}

.main-bg {
    background-color: #A03333;

}

.main-bg-black {
    background-color: var(--black-color);
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    box-shadow: 0 0.1rem 0.5rem var(--primary-color);
    transition: all 0.5s;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: var(--black-light);
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

nav button {
    width: 130px;
    background-color: var(--black-light);
    color: var(--white-color);
    border: none;
    border-top-right-radius: 30px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    padding: 5px 20px;
}

nav button:hover {
    background: var(--black-color);
    box-shadow: 5px 5px 5px #eee;
    cursor: pointer;
    transform: scale(1.1);
    transition: 500ms;
}

.nav-logo {
    align-items: center;
    justify-content: center;
    width: 10px;
}

.nav-logo img {
    width: 100px;
    padding-top: 10px;
}

/* CAPA */
.capa {
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-between;
}

.capa-text {
    max-width: 37rem;
    line-height: 1rem;
    width: 100%;
}

.capa-text h1 {
    font-size: 10vh;
    font-family: 'Bungee Outline', cursive;
    font-weight: lighter;
}

.capa-text h2 {
    font-size: 12vh;
    font-family: 'Bebas Neue', sans-serif;
}

.capa-text p {
    font-size: 2vh;
    margin-bottom: 1.5rem;
}

.capa button {
    width: 150px;
    background-color: var(--black-light);
    color: var(--white-color);
    border: none;
    border-top-right-radius: 30px;
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    padding: 5px 20px;
    cursor: pointer;
}

.capa button:hover {
    background: var(--black-color);
    box-shadow: 5px 5px 5px var(--white-color);
    transform: scale(1.1);
    transition: 500ms;
}

.capa button img {
    width: 20px;
    padding-left: 10px;
}

.capa-img {
    padding-bottom: 0px
}

.capa-img img {
    width: 90%;
    margin-top: 20px;
}

/* BARRA */
.barra {
    margin-top: -4px;
    width: 100%;
}

.barra h1 {
    line-height: 0px;
    font-size: 20px;
}

.barra i {
    color: var(--white-color);
    margin: 0 40px 0 40px;
}


/* SECTION 3 */
.section3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    padding: 0 10%;
    margin-bottom: 80px;
}

.section3-text {
    text-align: center;
    margin-top: 50px;
    line-height: 100px;
}

.section3-text h1 {
    font-size: 8vh;
    font-family: 'Bungee Outline', cursive;
    font-weight: lighter;
}

.section3-font2 {
    font-size: 10.5vh;
    font-family: 'Bebas Neue', sans-serif;
}

.img-button-section3 {
    width: 30px;
    height: 30px;
}

.selectSection:hover {
    padding: 10px;
    background-color: #222222;
    transform: scale(1.1);
    transition: 500ms linear;
}

.buttonSection {
    background-color: var(--black-light);
    color: var(--white-color);
    border: none;
    border-top-right-radius: 30px;
    font-size: 16px;
    font-family: 'Bebas Neue', sans-serif;
    padding: 5px 20px;
    width: 187px;
    height: 54px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectSection:hover .buttonSection {
    background-color: #FF0202;
    color: var(--white-color);
}

.buttonSection:hover {
    transform: scale(1.1);
    transition: 500ms;
}

/* PLANOS */
.container-planos {
    background-color: #222222;
}

.content-planos {
    display: flex;
    align-items: center;
    padding: 0 10%;
    gap: 20px;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title-planos h1 {
    padding-top: 40px;
    text-align: center;
    font-size: 82px;
    font-family: 'Bebas Neue', sans-serif;
}

.content-planos img {
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
}

.passeDiv-img {
    padding: 0px;
    border: 0px;
}

.content-planos h1 {
    font-size: 42px;
    margin: 0px;
}

.passeDiv,
.passeDiv2 {
    width: 390px;
}

.passeDiv2 {
    margin-bottom: 37px;
}

.passeDiv2Text {
    background-color: red;
    padding: 2px 2px 2px 10px;
    margin: 0px;
}

.passeDiv2Text p {
    font-size: 19px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

.passeDivText {
    margin: 0px;
    padding: 2px 2px 2px 0px;
    background-color: var(--black-color);
}

.passeDivText h1 {
    padding: 2px 2px 2px 10px;
    line-height: 50.4px;
    font-size: 42px;
    font-weight: bold;
}

.textValorePlanos {
    color: var(--white-color);
}

.passeDivButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 83px;
    background-color: #B4B4B4;
}

.passeDivButton p {
    padding: 0 0 0 0;
    color: #787878;
    font-size: 20px;
}

.passeDivButton button {
    width: 125px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #787878;
    color: #787878;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #B4B4B4;
    font-weight: bold;
    cursor: pointer;
}

.passeDivButton button:hover {
    border: 2px solid var(--black-color);
    color: var(--black-color);
    box-shadow: 5px 5px 5px var(--black-light);
    transform: scale(1.1);
    transition: 500ms;
}

.passeDiv2Button button {
    width: 125px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid red;
    color: red;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #B4B4B4;
    font-weight: bold;
    cursor: pointer;
}

.passeDiv2Button button:hover {
    border: 2px solid red;
    color: red;
    box-shadow: 5px 5px 5px var(--primary-color);
}

/* GRUPO 10 */
.group10 {
    display: flex;
    align-items: center;
    padding: 0 10%;
    height: 80vh;
}

.group10-infos {
    margin-bottom: 130px;
}

.group10 p {
    margin-top: 0px;
}

.group10 h1 {
    margin-bottom: 0px;
}

.group10 img {
    width: 80%;
    position: relative;
    bottom: -35px;
}

.group10 h1 {
    line-height: 100px;
}

.group10-font-1 {
    /* font-size: 8vh; */
    font-size: 3.5em;
    font-family: 'Bungee Outline', cursive;
    font-weight: lighter;
    line-height: 0px;
}

.group10-font-2 {
    font-size: 1.5em;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
    line-height: 0px;
}

.unidades-group10 {
    display: flex;
    justify-content: center;
}

.unidades-group10 h2 {
    text-align: center;
    font-size: 8vh;
    padding: 40px 0 0 0;
    margin: 0;
}

.unidades-group10 p {
    text-align: center;
}


/* CONTATO */
.contato {
    display: flex;
    justify-content: space-between;
    background-color: #1E1E1E;
    padding: 0 10%;
}

.contato-content {
    align-items: center;
    display: flex;
}

.contato-text {
    margin-top: 50px;
}

.contato-text h1 {
    font-size: 10.5vh;
    line-height: 0px;
}

.contato p {
    font-size: 24px;
}

.contato-tels {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 5px;
}

.contato-tels input {
    width: 234px;
    height: 42px;
    border-radius: 0 20px 0 0;
    border: 1px solid #FFFFFF;
    background-color: #1E1E1E;
    font-size: 18px;
    color: var(--white-color);
}

.contato-tels button {
    background-color: #FF3939;
    color: var(--white-color);
    border: none;
    border-radius: 0 20px 0 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 234px;
    height: 42px;
    cursor: pointer;
}

.contato-tels button:hover {
    background: var(--black-color);
    box-shadow: 5px 5px 5px var(--white-color);
}

.contato-img {
    margin-top: -140px;
}

/* FOOTER */
.footer {
    width: 100%;
    height: 70px;
    padding: 5px 0 5px 0;
}

.text-footer {
    font-size: 0.6em;
    text-align: center;
}


/* RESPOSIVIDADE MENU */
@media (max-width:785px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        background: rgba(255, 255, 255, 0.16);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.3px);
        -webkit-backdrop-filter: blur(9.3px);
        border: 1px solid rgba(255, 255, 255, 0.35);
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* RESPOSIVIDADE CAPA */
/* MAX-WIDTH - TELAS MENORES QUE 
    RESOLUCOES MAIORES PARA MENORES
    */
@media (max-width:970px) {
    .capa-text h1 {
        font-size: 7.5vh;
    }

    .capa-text h2 {
        font-size: 9.5vh;
    }

    @media (max-width:785px) {
        .capa {
            padding: 5px 2%;
            flex-direction: column;
            text-align: center;
            gap: 2rem;
        }

        .capa-text h1 {
            font-size: 6vh;
        }

        .capa-text h2 {
            font-size: 7vh;
        }

        .capa p {
            font-size: 2vh;
            margin: 0 15px 20px 15px;
        }

        .capa-img img {
            padding: 0;
            margin: 0;
            width: 190px;
        }

        .capa button {
            font-size: 20px;
            width: 150px;
            padding: 5px;
        }
    }
}


/* RESPOSIVIDADE BARRA */
@media (max-width:785px) {
    .barra {
        margin-top: -9px;
        height: 35px;
    }

    .barra h1 {
        font-size: 15px;
    }

    .barra i {
        font-size: 15px;
    }
}

/* RESPOSIVIDADE SECTION 3 */
@media (max-width:785px) {

    .buttonSection {
        font-size: 16px;
        width: 150px;
        padding: 5px;
    }

    .img-button-section3 {
        width: 20px;
        height: 20px;
    }

    @media (max-width:672px) {

        .section3 {
            text-align: center;
        }

        .buttonSection {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .section3-text h1 {
            font-size: 6vh;
        }

        .section3-font2 {
            font-size: 8vh;
        }

        .section3-text {
            line-height: 50px;
        }
    }
}

/* RESPOSIVIDADE PLANOS */
@media (max-width:672px) {

    .passeDiv,
    .passeDiv2 {
        width: 300px;
    }

    .title-planos {
        margin-bottom: 80px;
    }

    .title-planos h1 {
        font-size: 8vh;
    }

}

/* RESPOSIVIDADE GRUPO 10 */
@media (max-width:1300px) {
    .group10-infos {
        margin-bottom: 130px;
    }

    .group10 img {
        width: 95%;
    }

    .group10-infos {
        margin-bottom: 0px;
    }

    @media (max-width:900px) {
        .group10-font-1 {
            font-size: 3em;
        }

        .group10-font-2 {
            font-size: 1.2em;
        }

        .group-p-text {
            font-size: 2vh;
        }

        .unidades-group10 p {
            font-size: 2vh;
        }

        .unidades-group10 h2 {
            font-size: 4vh;
        }

        .group10 h1 {
            line-height: 70px;
        }
    }

    @media (max-width:785px) {
        .group10 {
            height: 60vh;
        }

        .group10-img img {
            display: none;
        }
    }

    @media (max-width:650px) {
        .group10-font-1 {
            font-size: 2.7em;
        }

        .group10-font-2 {
            font-size: 1em;
        }
    }

    @media (max-width:540px) {
        .group10-font-1 {
            font-size: 2.2em;
        }

        .group10-font-2 {
            font-size: 1em;
        }
    }

    @media (max-width:450px) {
        .group10-font-1 {
            font-size: 1.9em;
        }

        .group10-font-2 {
            font-size: 0.8em;
        }

        .unidades-group10 p {
            font-size: 2vh;
        }


    }
}

/* RESPONSIVIDADE CONTATO */
@media (max-width:1300px) {
    .contato {
        display: flex;
        justify-content: space-between;
    }

    .contato img {
        margin-top: 0px;
        width: 100%;
        height: 470px;
    }

    .contato-content {
        align-items: center;
    }

    @media (max-width:1145px) {

        .contato-text h1 {
            font-size: 6vh;
        }

        .contato p {
            font-size: 2vh;
        }

        .contato-img {
            top: 0px;
            height: 80%;
        }
    }

    @media (max-width:890px) {
        .contato-img {
            height: 60%;
        }

        .contato-text h1 {
            font-size: 4.5vh;
        }

        .contato p {
            font-size: 1.8vh;
        }

        .contato img {
            height: 370px;
        }
    }

    @media (max-width:785px) {
        .contato img {
            display: none;
        }

        .contato-content {
            margin-bottom: 20px;
            text-align: center;
        }

        .contato-tels {
            justify-content: center;

        }
    }
}

/* RESPONSIVIDADE FOOTER */
@media (max-width:785px) {
    .footer {
        margin-bottom: 10px;
        height: 40px;
        padding: 5px 0 5px 0;
    }

    .text-footer {
        font-size: 0.4em;
        text-align: center;
    }
}