@import url("/assets/css/navbar.css");
@import url("/assets/css/section-capa.css");
@import url("/assets/css/barra-animada.css");
@import url("/assets/css/section-diferenciais.css");
@import url("/assets/css/section-planos.css");
@import url("/assets/css/section-familia.css");
@import url("/assets/css/section-contato.css");
@import url("/assets/css/footer.css");

:root {
    --primary-color: #A11809;
    --white-color: #FFF;
    --black-color: #000000;
    --black-light: #222222;
}

body,
ul,
li,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1,
h2,
a {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--white-color);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--white-color);
}

.main-bg {
    background-color: #A03333;
}

.main-bg-black {
    background-color: var(--black-color);
}